.tooltip {
    background-color: var(--primary-color);
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 0.8rem;
    width: 75px;
    height: 100px;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.legendWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.legendWrapper p {
    font-weight: 500;
}

.legend {
    display: flex;
    justify-content: flex-end;
}

.legendItem:before {
    content: "\2022";
    color: var(--primary-color);
    font-weight: bold;
    font-size: 2.5rem;
    display: inline-block;
    width: 1.5rem;
    margin-left: -1.5rem;
}

.legendItem,
.secondLegendItem {
    display: flex;
    align-items: center;
    color: #74798C;
    margin: 0 25px;
}

.secondLegendItem:before {
    content: "\2022";
    color: #74798C;
    font-weight: bold;
    font-size: 2.5rem;
    display: inline-block;
    width: 1.5rem;
    margin-left: -1.5rem;
}