.container {

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.score {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 20%;
    font-weight: 600;
}

.data {
    position: absolute;
    z-index: 1;
    width: 25%;
    text-align: center;
    line-height: 2rem;
}